body {
    height: 90vh;
    display: grid;
    place-items: center;
    background-color: #1e1e1e;
}

.default-pic, .profile-pic{
    width: 150px;  
}
.registration-container {
    min-height: 58vh; 
    min-width: 80vh;
    display: grid;
    place-items: center;
    font-family:  sans-serif, Verdana ;
    background-color: #28282B;
    border-radius: 1em;
    box-shadow: 0 0 1.25em 1.25em #c3c3c333;
}

.settings-container {
    min-height: 70vh;
    min-width: 80vh;
    display: grid;
    place-items: center;
    font-family:  sans-serif, Verdana ;
    background-color: #28282B;
    border-radius: 1em;
    box-shadow: 0 0 1.25em 1.25em #c3c3c333;
}

.btn {
    background-color: transparent;
    color: #008080; 
    border: 2px solid #008080;
    border-radius: 4px;
}

.btn:hover {
    background-color: #008080; 
    border: 2px solid #008080;
    color: white; 
}
.btn:active {
    transform: translateY(2px);
} 

.form-select{
    width: 650px;
    height: 40px;
    border-radius: 0.5em;
}
