body {
    height: 90vh;
    display: grid;
    place-items: center;
    background-color: #121212;
    /* background-image:url('/static/images/background.png');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover; */
}

#default-pic{
    width: 150px;  
}
.fieldsContainer {
    height: 58vh;
    width: 80vh;
    display: grid;
    place-items: center;
    font-family:  sans-serif, Verdana ;
    background-color: #28282B;
    border-radius: 1em;
    box-shadow: 0 0 1.25em 1.25em #c3c3c333;
}
button:active {
    transform: translateY(2px);
}

