{% extends "friends.html" %}

{% block title %}
    Friend Requests
{% endblock %}


{% block content %}
<table class="table">
    <thead>
        <tr>
            <th class="text-start">Username</th>
            <th class="text-end">Accept</th>
            <th class="text-end">Decline</th>
        </tr>
    </thead>
    <tbody>
        {% for friend_requests in friend_requests %}
            <tr id = '{{ friend_requests.frid }}'>
                <td id='{{ friend_requests.id }}' class="text-start">{{ friend_requests.username }}</td>
                <td class="text-end"><button class="btn btn-primary accept">Accept</button></td>
                <td class="text-end"><button class="btn btn-primary decline">Decline</button></td>
            </tr>  
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block script %}
<script>
    async function completeRequest(frid, status, userid) {
        let response = await fetch(`/completeFriendRequest?frid=${frid}&status=${status}&userid=${userid}`);
        if (response.status == 204) {
            
        } else {
            document.getElementById(frid).remove();
        }
    }

    const acceptButton = document.querySelectorAll(".accept");
    const declineButton = document.querySelectorAll(".decline");

    for (let i = 0; i < acceptButton.length; i++) {
        acceptButton[i].addEventListener("click", function () {
            // userid = user who sent request
            const userid = acceptButton[i].parentElement.parentElement.querySelector("td").id;
            completeRequest(acceptButton[i].parentElement.parentElement.id, 1, userid);
        });

        declineButton[i].addEventListener("click", function () {
            completeRequest(declineButton[i].parentElement.parentElement.id, 0);
        });
        
    }
</script>
{% endblock %}