{% extends "layout.html" %}

{% block title %}
    Friends
{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/static/dashboard-style.css">{% endblock %}

{% block main %}
<div class="friend-header container py-5 text-center">
    <a href="/friends">Friends</a>
    <a href="/friends/add">Add Friends</a>
    <a href="/friends/requests">Requests</a>
</div>
<div class="container py-5 text-center">
    {% block content %}{% endblock %}
    <div class="mb-3">
        <a id="toDashboard" href="/">Go to Dashboard?</a>
    </div>
</div>

{% endblock %}