{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
<div class="mycontainer">
    <div class="sidebar">
        <button class="icon">C</button>
        <button class="icon">G</button>
        <button class="icon">F</button>
        <button class="icon">⚙</button>
        <button class="icon">L</button>
    </div>
    
    <div class="contacts-section">
        <!-- Contacts or conversation list will appear here -->
    </div>

    <div class="chat-section">
        <div class="chat-header">
            <!-- Profile picture or header icon -->
            <span class="profile-icon">
                <image src="/static/images/vecteezy_default-profile-account-unknown-icon-black-silhouette_20765399.jpg" id="profile-pic"></image>
            </span>
            <span class="profile-name"><p></p></span>
        </div>
        <div class="chat-messages">
            <!-- Messages will appear here -->
        </div>
        <form class="chat-input">
            <input required type="text" placeholder="Type a message...">
            <button type="submit" class="send-button">▶</button>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/script.js"></script>
{% endblock %}
