{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="container py-5 text-center">
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" required name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="new-password" class="form-control mx-auto w-auto" required name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="new-password" class="form-control mx-auto w-auto" required name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <div class="mb-3">
            <image src="/static/images/vecteezy_default-profile-account-unknown-icon-black-silhouette_20765399.jpg" id="default-pic"></image>
        </div>
        <div class="mb-3">
            <input  class="form-control mx-auto w-auto" name="file" type="file" autocomplete="off" accept="image/jpeg, image/png, image/jpg" id="profile-pic">
        </div>
        <div class="mb-3">
            <a href="/login">Login instead?</a>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>
{% endblock %}

{% block script %}
    <script>
        let defaultPic = document.getElementById("default-pic");
        let profilePic = document.getElementById("profile-pic");

        profilePic.onchange = function () {
            defaultPic.src = URL.createObjectURL(profilePic.files[0]);
        }
    </script>
{% endblock %}